<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOGiT</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="min-h-screen dark:bg-gray-900">
    <% if (adminLoggedIn) { %>
        <%- include('../admin/header') %>
      <% } else if (userLoggedIn) { %>
        <%- include('../user/header') %>
      <% } else { %> 
        <%- include('header') %>
       <% } %>
    <p class = "text-gray-200 text-4xl font-medium flex items-center justify-center">
        Hello, This is Platform for Blogging.
    </p>
    <%- include('footer') %>
</body>
</html>