<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOGiT</title>
    
  </head>
  <body class="min-h-screen bg-gray-900">
    <%- include('header') %>
    <center>
    <div class="text-gray-200 mx-auto mt-6 mb-[10vh]">
        <h1 class="text-gray-200 text-7xl">Welcome Admin!!!</h1>
    </div></center>
    <div class="grid grid-cols-2 bg-gray-900">
        <%- include('chartCard') %> 
        <%- include('chartCard') %> 

    </div>
    <%- include('footer') %>
  </body>
</html>
  