<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOGiT</title>
</head>
<body class="min-h-screen dark:bg-gray-900">
    <%- include('header') %> 
    <div class="grid items-center justify-center mb-3 space-y-3 mt-3">
        <% for (let i = 0; i < articles.length; i++) { %>
            <%- include('articleCard', {
                title: articles[i].title,
                desc: articles[i].desc,
                slug: articles[i].slug,
                canEdit: canEdit,
                canDelete: false
            }) %> 
        <% } %>
    </div> 
    <%- include('footer') %> 
</body>
</html>